@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #151718;
  background: #fff;
}

:root {
  --accent-color-02: #C6F0F8;
}


.header_nav-link{
  display: block;
  margin-bottom: 10px;
}
.app-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 40px;
  color: #0d1011;
}

input:focus {
  outline: none;
}

.btn {
  width: 100%;
  padding: 16px 40px;
  border-radius: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
}

.pry-btn {
  background: #0e606e;
  color: #fff;
}
.sec-btn {
  border: 2px solid #0e606e;
  background-color: transparent;
  color: #0e606e;
}
.faq-btn-wrapper button:hover{
background-color:#0e606e ;
color:#ffffff ;
}

.accent-color-main {
  color: #0e606e; 
}
.bg-accent-color-02{
  background-color: #C6F0F8;
}

.custom-gray-11 {
  color: #555E5F; 
}
.gray-9 {
  color: #808C8E; 
}

.yellow-07{
  color:  #D0923F; 
}
.accent-color-11 {
  color: #094049; 
}
.gray-04 {
  color: #D3D7D7; 
}

.gray-14 {
  color: #010809; 
}
.active-span {
  border-radius: 8px;
  background-color: #F9F9F9;
  width: 40px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.active-span:hover {
  background-color: #F9F9F9; 
}
.accent-color-10{
  color: #0D5865;
}

.gray-12{
  color: #353B3C;
}

.team-profile{
margin: 10px;
padding: 2px! important;
 border-radius: 24px 24px 0px 0px;
background-color: #F9F9F9;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
}

.heroImg-width2{
width: 814px;
height: 510px;
object-fit: cover;
}
.heroImg-width{
  width: 461px;
  height: 510px;
}
.sub-title_01 {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #0d1011;
}

.hero-text {
  font-family: "Ubuntu", sans-serif !important;
  line-height: 69px;
}

.font-ubuntu {
  font-family: "Ubuntu", sans-serif !important;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 1036px) {
  .app-container {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (max-width: 768px) {
  .app-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sub-title_01 {
    font-size: 20px;
    line-height: 24px;
  }
  .hero-text {
    line-height: 45px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 30px;
  }

  .btn, .pry-btn {
    padding: 9px 22px;
  }
  .heroImg-width2{
    width: 100%;
  }
  .sm-width2{
    width: 20%;
  }
 
  .sm-width1{
    width: 80%;
  }
  
}